# Fuerza el uso de LF en archivos de código y texto comunes
*.js     text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.json   text eol=lf
*.css    text eol=lf
*.md     text eol=lf
*.html   text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.sh     text eol=lf

# Auto detecta texto en otros archivos
*        text=auto
